header, main{
    text-align: center;    
}
header a{
    text-decoration: none;
    color: black;
    background-color: rgb(200, 203, 206);
    padding: 5px;
    border-radius: 3px;
    margin: 15px 10px;
}
#connect4{
    width: 500px;
    height: 450px;
    background-color: rgb(84, 143, 231);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
}