header, main{
    text-align: center;    
}
header a{
    text-decoration: none;
    color: black;
    background-color: rgb(200, 203, 206);
    padding: 5px;
    border-radius: 3px;
    margin: 15px 10px;
}
#board{
    width: 560px;
    height: 460px;
    padding: 10px;
    background-color: rgb(84, 143, 231);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    flex-grow: 1;
}
.player-one{
    background-color: rgb(214, 72, 95);
}
.player-two{
    background-color: rgb(78, 114, 78);
}
.winner{
    border: 2px solid black;
    box-sizing: border-box;
}