@font-face {
    font-family: "Vinyl";
    src: url("RubikVinyl-Regular.ttf");
}
header, main{
    text-align: center;    
    margin-top: 20px;
}
header a, button{
    text-decoration: none;
    color: black;
    background-color: rgb(200, 203, 206);
    padding: 5px;
    border-radius: 3px;
    margin: 15px 10px;
}
h1{
    font-family: "Vinyl";
    color: rgb(71, 84, 60);
    font-size: 36px;
}
#board{
    width: 560px;
    height: 460px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(84, 143, 231);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    flex-grow: 1;
}
.player-one{
    background-color: rgb(211, 39, 39);
}
.player-two{
    background-color: rgb(39, 135, 39);
}
.winner{
    background-image: url("star.jpg");
    background-position: center;
    background-size: cover;
    border: 5px solid rgb(255, 217, 0);
    box-sizing: border-box;
}